.Header{
    margin-top: 10px;
    margin-bottom: 10px;
}

nav{
 width: 50%;
 margin : 0 auto;
}

ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

li{
    padding: 5px;
    cursor: pointer;
}
li:hover{
    text-decoration: underline;
}